@model Class
@using SchoolWebapp.Data

@inject DataService data

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="nav nav-pills flex-column">
    @{
        if (User.IsInRole("Admin"))
        {
        <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Classes" asp-action="Index" title="">Classes</a>
        </li>
            
        <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Students" asp-action="Index" title="">Students</a>
            </li>         
        <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Tutors" asp-action="Index" title="">Tutors</a>
        </li>   
        <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Teachers" asp-action="Index" title="">Teachers</a>
        </li>
        <li>
                <a class="nav-link text-dark" asp-controller="Activities" asp-action="Index" tittle="">Activities</a>
        </li>        
        <li>
                <a class="nav-link text-dark" asp-controller="Subjects" asp-action="Index" tittle="">Subjects</a>
            </li>
        }
        else
        {
            <li class="fw-bold">Classes</li>
            @foreach (var item in data.GetClassesWithStudent(UserManager.GetUserId(User).Split("")[0]))
            {
                <li><a class="nav-link text-dark" asp-controller="Classes" asp-action="Class" asp-route-itemid="@item.Id" title="">@item.Name</a></li>                
            }
        }
    }
</ul>
