@model IEnumerable<School_webapp.Models.ActivityStudentModel>

@{
    ViewData["Title"] = "Students";
}

<h1>Students</h1>

<div class="cardview">
    @foreach (var item in ViewBag.students) {
    <a href="#" class="card mb-2">
        <div class="card-body d-inline">
            <h5 class="float-start">@item[2], @item[1]</h5>
            <span class="float-end">
                @(bool.Parse(item[0]) ? "✔️" : "❌")
            </span>
        </div>
    </a>
    }
</div>