@model School_webapp.Models.ActivityStudent

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ActivityStudent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="studentId" class="control-label"></label>
                <input asp-for="studentId" class="form-control" />
                <span asp-validation-for="studentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="activityId" class="control-label"></label>
                <input asp-for="activityId" class="form-control" />
                <span asp-validation-for="activityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="calification" class="control-label"></label>
                <input asp-for="calification" class="form-control" />
                <span asp-validation-for="calification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="commentary" class="control-label"></label>
                <input asp-for="commentary" class="form-control" />
                <span asp-validation-for="commentary" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isSubmitted" /> @Html.DisplayNameFor(model => model.isSubmitted)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isRated" /> @Html.DisplayNameFor(model => model.isRated)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="canBeSubmittedLate" /> @Html.DisplayNameFor(model => model.canBeSubmittedLate)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isLate" /> @Html.DisplayNameFor(model => model.isLate)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="submitDate" class="control-label"></label>
                <input asp-for="submitDate" class="form-control" />
                <span asp-validation-for="submitDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
